body {
	background-color: gray;
	font-family: "Nunito", sans;
}
#wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 0;
    padding: 0;
    /*margin-bottom: 110px;*/
}
#headerRow {
    margin-left: 0;
    width: 100%;
    margin: 0;
    position: relative;
}
header {
	height: 120px;
    width: 100%;
    position: absolute;
    margin: 0;
	background-color: darkslategray;
	padding: 10px;
	box-shadow: 0 0 24px 0 black;
    z-index: 0;
}
.sidebarInvisible {
    position: absolute;
    margin: -120px 0 0 100%;
    background-color: black;
    height: 300px;
    width: 0;
    z-index: -1;
}
.sidebarAppear {
    position: absolute;
    background-color: purple;
    z-index: 9;
    margin-top: -120px;
    transition-property: margin-left;
    transition-duration: .5s;
    height: 500px;
    width: 75%;
    margin-left: 25%;
}
section {
    position: absolute;
    width: 100%;
    margin: 0;
    display: block;
}
.col-10 {
}
#stationName {
	color: white;
	float: left;
	font-family: "Fjalla One", sans;
}
#stationSpan2 {
    font-family: "Dr Sugiyama", sans;
}

#sidebarCogButton {
	padding: 2px;
	margin-right: -24px;
	margin-top: 10px;
	float: right;
}
#nextArrivingTrains {
	height: 320px;
    width: 100%;
}
#seeMoreTrainsDiv {
    height: auto;
    width: 100%;
    margin-top: 96%;
    bottom: 0;
    margin-bottom: 106px;
}

#seeMoreTrainsButton {
	width: 92%;
	margin: 4%;
    font-size: 24px;
    padding: 0;
}
#seeSpan {
    font-family: "Dr Sugiyama", sans;
    font-size: 36px;
    line-height: 100%;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    height: 100px; 
    background-color: #f5f5f5;
	box-shadow: 12px 0 0 0 black;
	padding: 0;
    /*margin-bottom: -110px;*/
}
.col-6 {
    float: left;
    margin: none;
    padding: none;
}
.footerButtons {
	border-radius: 6px;
    width: 44%;
    margin: 12px 3%;
    float: left;
    font-size: 20px;
    line-height: 161.8%;
}
#otherStationButton {
 
}
#changeModeButton {

}
#modeSpan {
    font-family: "Dr Sugiyama", sans;
    font-size: 26px;
    line-height: 100%;  
}
.btn {
	border-radius: 6px;
    font-family: "Josefin Sans", sans;
}
.btn-group-justified {
	border-radius: 5px;
}
.btn-group {
	border-radius: 5px;
}

/* --- classes for dynamic elements  ----  */
.disappear {
    display: none;
}
