body {
	background-color: gray;
	font-family: "Nunito", sans;
}
header {
	height: 120px;
	background-color: darkslategray;
	padding: 10px;
	box-shadow: 0 0 24px 0 black;
}
.col-10 {
}
#stationName {
	color: white;
	float: left;
	font-family: "Fjalla One", sans;
}
#stationSpan2 {
    font-family: "Dr Sugiyama", sans;
}

#sidebarCogButton {
	padding: 2px;
	margin-right: -24px;
	margin-top: 10px;
	float: right;
}
#nextArrivingTrains {
	height: 320px;
}
#seeMoreTrainsDiv {
    height: auto;
}

#seeMoreTrainsButton {
	width: 92%;
	margin: 4%;
    font-size: 24px;
    padding: 0;
}
#seeSpan {
    font-family: "Dr Sugiyama", sans;
    font-size: 36px;
    line-height: 100%;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
/*    height: 60px; */
	line-height: 161.8%;
    background-color: #f5f5f5;
	box-shadow: 12px 0 0 0 black;
	padding: 6px;
}
.col-6 {
    float: left;
    margin: none;
    padding: none;
}
.footerButtons {
	border-radius: 6px;
    width: 44%;
    margin: 3%;
    float: left;
    font-size: 20px;
}
#otherStationButton {
 
}
#changeModeButton {

}
#modeSpan {
    font-family: "Dr Sugiyama", sans;
    font-size: 26px;
    line-height: 100%;  
}
.btn {
	border-radius: 6px;
    font-family: "Josefin Sans", sans;
}
.btn-group-justified {
	border-radius: 5px;
}
.btn-group {
	border-radius: 5px;
}
